[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/api/gemini/*"
  to = "https://generativelanguage.googleapis.com/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
